* {
  font-family: "Roboto";
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background: radial-gradient(
    circle,
    #000000 0%,
    #14012a 10%,
    #000215 25%,
    #0b0004 50%,
    #1a1717 70%,
    #000000 90%
  );
}

#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#overlay {
  background-color: rgba(12, 79, 142, 0.447);
  border-radius: 30px;
  border: 2px solid rgba(5, 8, 54, 0.5);
  padding: 20px 40px 0px 40px;
  z-index: 2;
  pointer-events: none;
  display: none;
}

#overlay * {
  color: rgba(255, 255, 255, 0.9);
}
#headline {
  font-size: 26px;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}
#description {
  font-size: 24px;
}
#skip {
  font-size: 16px;
  text-align: end;
  text-decoration: underline;
}

#escapeBox {
  position: absolute;
  top: 0;
  right: 32px;
  padding: 4px 10px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  pointer-events: none;
  font-size: 24px;
}
#escapeBox kbd {
  padding: 0 8px;
  background-color: rgba(20, 20, 50, 0.5);
}
