* {
  margin: 0;
  padding: 0;
}
html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  background: white;
}

#ArtCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
